{% extends "layout.html" %}

{% block title %}
Chai, Shreyas aur Django
{% endblock %}

{% block content %}
<h1 class="text-center mt-4"> Welcome to Shreyas' Django Project </h1>


<h2>
{% if form.instance.pk %}
Edit Tweet
{% else %}
Create New Tweet
{% endif %}


<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type="submit"> Submit </button>
</form>

<a href="{% url 'tweet_list' %}">Back to Tweet List</a>
</h2>


{% endblock %}